
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495788635682'); /* IE9*/
  src: url('iconfont.eot?t=1495788635682#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495788635682') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495788635682') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495788635682#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before { content: "\e718"; }

.icon-zhongyingwenqiehuan-xianshizhongyingwen:before { content: "\e620"; }

